* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: cyan;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #00c6ff, #0072ff);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    margin: 20px 0;
    font-size: 20px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.hero button:hover {
    background: white;
    color: black;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #0072ff;
    color: white;
    padding: 20px;
    width: 120px;
    border-radius: 10px;
}

/* Projects */
.project-card {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 12px;
}

form button {
    padding: 12px;
    background: #0072ff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0056cc;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
    }

    .hero h2 {
        font-size: 35px;
    }

    form {
        width: 90%;
    }

    .project-card {
        width: 90%;
    }
}